.footer__author {
  margin: 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  min-width: 200px;
}

@media screen and (max-width: 715px) {
  .footer__author {
    min-width: 154px;
  }
}

@media screen and (max-width: 494px) {
  .footer__author {
    margin-top: 48px;
    line-height: 1;
  }
}